<!DOCTYPE html>
<html lang="ro">
<head>
    <title>despre</title>
    <meta name="description" content="Zynema - Catalog pentru recenzii filme, seriale și noutăți din cinema.">
    <meta name="keywords" content="recenzii filme, seriale, cinema, top filme, Zynema">
   <%- include("../fragmente/head") %>
      
</head>
<body id="sus">
    <div id="watermark-print">
    Vlad<br>Gherghel
</div>
  <%- include("../fragmente/header") %>
  <main>
    A doua pagina.
    </main>

   <%- include("../fragmente/footer") %>
</body>
</html>