 <footer id="contact">
       
    <p id="banner-print">Acesta este un proiect școlar!</p>
  
        <address>
            Biroul Redacției Zynema:<br>
            Linie directă: <i class="fa-solid fa-phone" style="color: var(--culoare-accent); margin-right: 5px;"></i> <a href="tel:+40712345678">0712 345 678</a><br>
            Acreditări presă: <a href="mailto:press@zynema.ro">press@zynema.ro</a><br>
            <a href="https://wa.me/40712345678">Contact rapid prin WhatsApp</a><br><br>
            Sediul Central:<br>
            <a href="https://maps.app.goo.gl/r6V8hWw5oK3KxP1R6" target="_blank">Facultatea de Matematică și Informatică, București</a><br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.843657319688!2d26.09745321552391!3d44.43588297910243!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff471e4eb173%3A0x6b1db9bb07f87f2!2sFacultatea%20de%20Matematic%C3%A3%20%C8%99i%20Informatic%C3%A3!5e0!3m2!1sro!2sro!4v1680000000000!5m2!1sro!2sro" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </address>
        <p>
            <small>Creat cu pasiune pentru cinema <i class="fa-solid fa-film fa-beat" style="color: var(--culoare-accent);"></i> de Zynema. Pagină generată la <time datetime="2026-03-19">19 martie 2026</time>.</small>
        </p>
    </footer>

    <a href="#sus" class="btn-top" data-tooltip="Întoarce-te în stratosferă">
        <span class="sageata">↑</span>
    </a>