 <header>
        <h1>Zynema</h1>
        
        <nav>
            <label id="hamburger" for="ch-menu">
                <i class="fa-solid fa-bars" style="color: var(--culoare-accent); font-size: 2rem;"></i>
            </label>
            <input type="checkbox" id="ch-menu">
            
            <ul class="meniu">
                <li>
                    <a href="/index#sus">
                        <span class="imag-icon"><i class="fa-solid fa-house"></i></span>
                        <span class="text-icon">Acasă</span>
                    </a>
                    <ul class="submeniu">
                        <li><a href="/index#zona-1">Prezentare</a></li>
                        <li><a href="/index#zona-3">Evenimente</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/index#zona-2">
                        <span class="imag-icon"><i class="fa-solid fa-film"></i></span>
                        <span class="text-icon">Lansări</span>
                    </a>
                </li>
                <li>
                    <a href="/index#zona-4">
                        <span class="imag-icon"><i class="fa-solid fa-clapperboard"></i></span>
                        <span class="text-icon">Recenzii</span>
                    </a>
                    <ul class="submeniu">
                        <li><a href="despre">Arhiva Veche</a></li>
                        <li><a href="despre">Top 10 Filme</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/index#contact">
                        <span class="imag-icon"><i class="fa-solid fa-envelope"></i></span>
                        <span class="text-icon">Contact</span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
